Repository forcedotcom/datacloud-jdbc: changes, and which Codecov flags are due for each by the changed paths.
All: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities, Spark Datasource

Fix test expectation to use our public interface
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
Due: none

Fixup
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthPropertiesTest.java
Due: none

Fixup
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthPropertiesTest.java
Due: none

Fixup
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
Due: none

Fixup
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriverTest.java
Due: none

Fixup
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
Due: none

Drive-By: Flaky test
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
Due: none

Adjust comments
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
Due: none

feat: Allow to toggle the inclusion of query text details in exception messages
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ConnectionProperties.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/HyperGrpcClientExecutor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/fsm/AdaptiveQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/fsm/AsyncQueryResultHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/fsm/InitialQueryInfoUtility.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/partial/DataCloudQueryPolling.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/exception/QueryExceptionHandler.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/AsyncStreamingResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/fsm/AdaptiveQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/partial/ChunkBasedTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/partial/DataCloudQueryPollingTests.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/partial/RowBasedTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/exception/QueryExceptionHandlerTest.java
  jdbc-core/src/test/resources/hyper.yaml
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/exception/DataCloudJDBCException.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/PropertyParsingUtils.java
Due: JDBC Core, JDBC Utilities

Fix for Windows
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/exception/QueryExceptionHandlerTest.java
Due: none

Fix Windows & update HyperAPI to reduce flakyness in waitFor
  gradle.properties
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/exception/QueryExceptionHandler.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
  jdbc-core/src/test/resources/default.yaml
  jdbc-core/src/test/resources/hyper.yaml
Due: JDBC Core

Fixup windows
  jdbc-core/src/test/resources/hyper.yaml
Due: none

Fix grpc_threads on Windows
  jdbc-core/src/test/resources/default.yaml
Due: none

Also fix spark grpc_threads
  spark-datasource-core/src/test/resources/hyper.yaml
Due: none

feat: Add integration test as mandatory gate before publishing
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-publish.yml
  .github/workflows/snapshot.yml
  integration-test/build.gradle.kts
  integration-test/src/test/java/com/salesforce/datacloud/jdbc/integration/ShadedJarIntegrationTest.java
  settings.gradle.kts
Due: none

Improve logging behavior in Hyper for faster test times
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandleTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryInfoIteratorTest.java
  jdbc-core/src/test/resources/default.yaml
  jdbc-core/src/test/resources/hyper.yaml
  spark-datasource-core/src/test/resources/hyper.yaml
Due: none

Fixes
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SQLExceptionQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIterator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/exception/QueryExceptionHandlerTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorTest.java
  jdbc-core/src/test/resources/default.yaml
  jdbc-core/src/test/resources/hyper.yaml
  spark-datasource-core/src/test/resources/hyper.yaml
Due: JDBC Core

Improve test coverage
  jdbc-util/src/test/java/com/salesforce/datacloud/jdbc/logging/ElapsedLoggerTest.java
Due: none

Improve test coverage
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/ChunkRangeIterator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/ChunkRangeIteratorTest.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/logging/ElapsedLogger.java
Due: JDBC Core, JDBC Utilities

Fix formatting
  jdbc-util/src/test/java/com/salesforce/datacloud/jdbc/logging/ElapsedLoggerTest.java
Due: none

Make log files more robust
  jdbc-core/src/test/resources/default.yaml
  jdbc-core/src/test/resources/hyper.yaml
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerProcess.java
Due: JDBC Core

Fix logger test case
  jdbc-util/src/test/java/com/salesforce/datacloud/jdbc/logging/ElapsedLoggerTest.java
Due: none

Update logging
  jdbc-core/src/test/resources/default.yaml
  jdbc-core/src/test/resources/hyper.yaml
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerProcess.java
Due: JDBC Core

Increase executeQuery test coverage
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
Due: none

Fix formatting
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
Due: none

refactor: Apply Composition Pattern to QueryResultIterator
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIterator.java
Due: JDBC Core

feat: implement automated release pipeline
  .github/workflows/release-automation.yml
  .github/workflows/release-notifications.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
Due: none

Remove mandatory check for clientSecret in PrivateKey/JWT auth
  DEVELOPMENT.md
  README.md
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProvider.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthProperties.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthPropertiesTest.java
Due: JDBC HTTP

fix: Remove required dataspace parameter from Connection
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/HyperDatasource.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionHeadersTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/InterceptedHyperTestBase.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/PropertyBasedHeadersTests.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/CachedChannelsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/SubmitQueryAndConsumeResultsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/hyper/LocalHyperTestBase.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryInfoIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QuerySchemaAccessorTest.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
Due: JDBC Core, JDBC Main

update CODEOWNERS ECCN to be in compliance w/ salesforce requirements
  CODEOWNERS
Due: none

add mvn badge with link to mvn repository
  README.md
Due: none

update Data Cloud references to Data 360
  README.md
Due: none

Mixins to reduce JDBC boilerplate
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ForwardOnlyResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ReadOnlyResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ResultSetWithPositionalGetters.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Utilities

Introduce SqlType & ResultSetMetadata
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/ColumnMetadata.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SqlType.java
Due: JDBC Utilities

Implement ColumnAccessor abstraction
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ColumnAccessor.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Utilities

Path conditions:
  JDBC Core: any of: jdbc-core/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Main: any of: jdbc/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC HTTP: any of: jdbc-http/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Utilities: any of: jdbc-util/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  Spark Datasource: any of: spark-datasource/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
