Repository forcedotcom/datacloud-jdbc: changes, and which Codecov flags are due for each by the changed paths.
All: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities, Spark Datasource

test: add columnclassname tests
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: none

test: add coverage for ResultSetWithPositionalGetters boilerplate methods
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: none

refactor: remove unused switch cases
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

test: add tests to cover out of range numeric types
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: none

test: add tests for boilerplate methods
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
Due: none

test: add simpleresultset method tests
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

test: add tests for column type constructor
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
Due: none

test: add test for resultset closed and row indexing states
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: none

refactor: remove queryresultmetadata and dependent tests
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryResultSetMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/QueryResultSetMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/util/ArrowUtilsTest.java
Due: JDBC Core

refactor: nullable passed in explicitly to columnType constructor
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnType.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowToColumnTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

refactor: getJavaTypeName() to getJavaType()
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnType.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
Due: JDBC Core

refactor: update SimpleMetadataResultSet constructor to take in simpleresultsetmetadata
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

refactor: refactor querydbmetadata to be a list of columnmetadata
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/MetadataSchemas.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryDBMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataSchemasTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

chore: update iscasesensitive to pass through columnType value
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
Due: JDBC Core

chore: add comment explaining numeric system type check
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
Due: JDBC Core

chore: Remove Avatica dependency from metadata conversion flow (#136)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/MetadataSchemas.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryDBMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryResultSetMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnType.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ForwardOnlyResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ReadOnlyResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ResultSetWithPositionalGetters.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowToColumnTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataSchemasTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/QueryResultSetMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/util/ArrowUtilsTest.java
Due: JDBC Core

fix: correct DatabaseMetaData.getTableTypes() to return table type names
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
Due: JDBC Core

fix: correct DatabaseMetaData.getTableTypes() to return table type names (#162)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
Due: JDBC Core

fix: Add test coverage and fix timezone-related test issues
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimeZoneIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimestampDiagnosticTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
  spark-datasource-core/src/test/scala/HyperResultSourceTest.scala
Due: JDBC Core

feat(jdbc): implement timezone and timestamp handling with JDBC 4.2 support
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessorFactory.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeVectorAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCReferenceTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimeZoneIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeVectorAccessorTest.java
Due: JDBC Core

fix(ci): explicitly trigger Maven release workflow from release-please
  .github/workflows/release-please.yml
Due: none

feat: improve authentication error logging and retry handling
  integration-test/src/test/java/com/salesforce/datacloud/jdbc/integration/ShadedJarIntegrationTest.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProvider.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/errors/AuthorizationException.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/http/FormCommand.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/errors/AuthorizationExceptionTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/http/FormCommandTest.java
Due: JDBC HTTP

refactor: remove 400 error retry logic per HTTP/OAuth standards
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/errors/AuthorizationException.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/errors/AuthorizationExceptionTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/http/FormCommandTest.java
Due: JDBC HTTP

feat: Improve authentication error logging and retry handling (#140)
  integration-test/src/test/java/com/salesforce/datacloud/jdbc/integration/ShadedJarIntegrationTest.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProvider.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/errors/AuthorizationException.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/http/FormCommand.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/errors/AuthorizationExceptionTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/http/FormCommandTest.java
Due: JDBC HTTP

feat: Expose query execution statistics in QueryStatus
  jdbc-core/src/main/java/com/salesforce/datacloud/query/v3/QueryExecutionStatistics.java
  jdbc-core/src/main/java/com/salesforce/datacloud/query/v3/QueryStatus.java
  jdbc-core/src/test/java/com/salesforce/datacloud/query/v3/QueryExecutionStatisticsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/query/v3/QueryStatusTest.java
Due: JDBC Core

feat: Expose query execution statistics in QueryStatus (#164)
  jdbc-core/src/main/java/com/salesforce/datacloud/query/v3/QueryExecutionStatistics.java
  jdbc-core/src/main/java/com/salesforce/datacloud/query/v3/QueryStatus.java
  jdbc-core/src/test/java/com/salesforce/datacloud/query/v3/QueryExecutionStatisticsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/query/v3/QueryStatusTest.java
Due: JDBC Core

feat: Improve virtual thread compatibility
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncStreamObserver.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/tracing/TemporaryBuffers.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/tracing/Tracer.java
  jdbc-util/src/test/java/com/salesforce/datacloud/jdbc/tracing/TemporaryBuffersTest.java
Due: JDBC Core, JDBC Utilities

fix: formatting
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncStreamObserver.java
Due: JDBC Core

feat: Improve virtual thread compatibility (#165)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncStreamObserver.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/tracing/TemporaryBuffers.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/tracing/Tracer.java
  jdbc-util/src/test/java/com/salesforce/datacloud/jdbc/tracing/TemporaryBuffersTest.java
Due: JDBC Core, JDBC Utilities

fix: Upgrade dependency versions and fix gRPC stream leak exposed by gRPC 1.80
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
  buildSrc/src/main/kotlin/version-updates.gradle.kts
  gradle/libs.versions.toml
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannel.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProvider.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SQLExceptionQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/CloseableIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStream.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannelMemoryTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannelTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProviderTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamCloseTest.java
Due: JDBC Core

fix: Don't use the shaded gRPC from grpcmock during testing
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProviderTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/RowRangeIteratorTest.java
Due: JDBC Core

fix: Fix flaky tests
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/ResultScanTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/ChunkRangeIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QuerySchemaAccessorTest.java
  spark-datasource-core/src/test/scala/HyperResultSourceTest.scala
Due: none

fix: Wrong cast
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QuerySchemaAccessorTest.java
Due: none

fix: Fix flaky spark tests
  spark-datasource-core/src/test/scala/HyperResultSourceTest.scala
Due: none

fix: Fix flaky tests
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementHyperTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/ChunkBasedPaginationTest.java
Due: none

fix: Flaky tests
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
Due: none

fix: Upgrade 3PP versions and fix gRPC stream leak exposed by gRPC 1.80 (#168)
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
  buildSrc/src/main/kotlin/version-updates.gradle.kts
  gradle/libs.versions.toml
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannel.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProvider.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SQLExceptionQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/CloseableIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStream.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannelMemoryTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannelTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementHyperTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProviderTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamCloseTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/ChunkBasedPaginationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/ResultScanTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/ChunkRangeIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QuerySchemaAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/RowRangeIteratorTest.java
  spark-datasource-core/src/test/scala/HyperResultSourceTest.scala
Due: JDBC Core

refactor: Split TimeStampVectorAccessor into separate TIMESTAMP and TIMESTAMPTZ accessors
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessorFactory.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampTZVectorAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCReferenceTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/QueryJDBCAccessorFactoryTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
  spark-datasource-core/src/test/scala/HyperResultSourceTest.scala
Due: JDBC Core

Path conditions:
  JDBC Core: any of: jdbc-core/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Main: any of: jdbc/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC HTTP: any of: jdbc-http/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Utilities: any of: jdbc-util/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  Spark Datasource: any of: spark-datasource/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
