Repository forcedotcom/datacloud-jdbc: changes, and which Codecov flags are due for each by the changed paths.
All: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities, Spark Datasource

feat: Add custom value comparator to ReferenceEntry and roundtrip timestamp test
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCReferenceTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimeZoneIntegrationTest.java
  jdbc-reference/src/main/java/com/salesforce/datacloud/reference/ReferenceEntry.java
Due: none

fix: correct setTimestamp wall-clock serialization and add JDBC 4.2 java.time support
  README.md
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/VectorPopulator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementHyperTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimeZoneIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/util/ArrowUtilsTest.java
Due: JDBC Core

test: Improve patch coverage for timestamp accessors and session timezone
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
Due: none

fix: Preserve actual UTC instant in timestamp parameter serialization
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/VectorPopulator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementHyperTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimeZoneIntegrationTest.java
Due: JDBC Core

fix: throw SQLException for silent failures and strengthen test coverage
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampTZVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimeZoneIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
Due: JDBC Core

fix: Preserve naive TIMESTAMP literal in getObject() and expand timestamp test coverage
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCReferenceTest.java
  jdbc-reference/src/main/java/com/salesforce/datacloud/reference/ColumnMetadata.java
  jdbc-reference/src/main/resources/protocolvalues.json
  jdbc-reference/src/main/resources/reference.json
Due: JDBC Core

refactor: Remove unused sessionZone field from TimeVectorAccessor
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessorFactory.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeVectorAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeVectorAccessorTest.java
Due: JDBC Core

fix: address PR review comments on Instant/TIMESTAMPTZ and cleanup
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessorFactory.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampTZVectorAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCReferenceTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimeZoneIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimestampDiagnosticTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
Due: JDBC Core

test: add parameter matrix and timestamp examples, fix patch coverage
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimeZoneIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/TimestampUsageTest.java
Due: JDBC Core

feat: implement timezone and timestamp handling with JDBC 4.2 support (#158)
  README.md
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessorFactory.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampTZVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/VectorPopulator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementHyperTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCReferenceTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/QueryJDBCAccessorFactoryTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TimeZoneIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/TimestampUsageTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/util/ArrowUtilsTest.java
  jdbc-reference/src/main/java/com/salesforce/datacloud/reference/ColumnMetadata.java
  jdbc-reference/src/main/java/com/salesforce/datacloud/reference/ReferenceEntry.java
  jdbc-reference/src/main/resources/protocolvalues.json
  jdbc-reference/src/main/resources/reference.json
  spark-datasource-core/src/test/scala/HyperResultSourceTest.scala
Due: JDBC Core

refactor: avatica phase 3
  ClaudeScratch.md
  buildSrc/src/main/kotlin/shading.gradle.kts
  gradle/libs.versions.toml
  jdbc-core/build.gradle.kts
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ColumnNameResolver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/MetadataCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/MetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/DataCloudAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ForwardOnlyResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ReadOnlyResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ResultSetWithPositionalGetters.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowToColumnTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ColumnNameResolverTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCReferenceTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataResultSetColumnLookupTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/QueryJDBCDataCursorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/util/ArrowUtilsTest.java
Due: JDBC Core

refactor: remove scratch md file
  ClaudeScratch.md
Due: none

fix: resultset is always readable=true
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
Due: JDBC Core

chore: remove and re-add comments for clarity
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/DataCloudAccessor.java
Due: JDBC Core

fix: don't return metadata when resultset is closed
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
Due: JDBC Core

refactor: rename DataCloudAccessor-->DataCloudQueryAccessor
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/DataCloudQueryAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
Due: JDBC Core

chore: re-add comments on how we resolve column names
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ColumnNameResolver.java
Due: JDBC Core

feat: remove nullConsumer and fix isReadOnly
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessorFactory.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseListVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BinaryVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BooleanVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DecimalVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DoubleVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/FloatVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/LargeListVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/ListVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampTZVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/VarCharVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/QueryJDBCAccessorFactoryTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BinaryVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BooleanVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DecimalVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DoubleVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/FloatVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/ListVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/VarCharVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/util/TestWasNullConsumer.java
Due: JDBC Core

refactor: rename SimpleResultSetMetaData->DataCloudResultSetMetaData & SimpleMetadataResultSet-->DataCloudMetadataResultSet
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

fix: add checkClosed to other methods
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
Due: JDBC Core

test: add missing tests for streamingresultSet
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
Due: none

fix: update getObject() to no longer silently fail and return null
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
Due: JDBC Core

fix: add Types.TIMESTAMP_WITH_TIMEZONE alongside Types.TIMESTAMP in both the type-mapping and getter-creation match blocks
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessorFactory.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaData.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCReferenceTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessorTest.java
  spark-datasource-core/src/main/scala/com/salesforce/datacloud/spark/TypeMapping.scala
Due: JDBC Core

fix: isreadOnly should be true for all datacloud metadata
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaData.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaDataTest.java
  jdbc-reference/src/main/resources/reference.json
Due: JDBC Core

fix: async interrupt race condition, DatabaseMetaData spec violations, metadata integration tests
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/interceptor/DatabaseAttachInterceptor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/hyper/DatabaseMetadataIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
  jdbc-core/src/test/resources/hyper_with_database.yaml
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperDatabaseSetup.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerConfig.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerManager.java
Due: JDBC Core

fix: async interrupt race condition in SyncIteratorAdapter
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
Due: JDBC Core

fix: collapse catch blocks and mark done on terminal error
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
Due: JDBC Core

fix: cache terminal error instead of marking done on failure
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
Due: JDBC Core

fix: async interrupt race condition in SyncIteratorAdapter (#170)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
Due: JDBC Core

fix: JDBC spec compliance and small metadata bug fixes
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnType.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/resources/sql/get_schemas_query.sql
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnTypeTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/http/MetadataCacheInterceptor.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/http/MetadataCacheInterceptorTest.java
Due: JDBC Core, JDBC HTTP

style: apply spotless formatting
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
Due: JDBC Core

fix: JDBC spec compliance and small metadata bug fixes (#171)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnType.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/resources/sql/get_schemas_query.sql
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnTypeTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/http/MetadataCacheInterceptor.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/http/MetadataCacheInterceptorTest.java
Due: JDBC Core, JDBC HTTP

test: add end-to-end DatabaseMetaData integration tests against local Hyper
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/interceptor/DatabaseAttachInterceptor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/hyper/DatabaseMetadataIntegrationTest.java
  jdbc-core/src/test/resources/hyper_with_database.yaml
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperDatabaseSetup.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerConfig.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerManager.java
Due: JDBC Core

test: cross-check precision, scale, type name, and nullability between metadata paths
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/hyper/DatabaseMetadataIntegrationTest.java
Due: none

test: add end-to-end DatabaseMetaData integration tests against local Hyper (#172)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/interceptor/DatabaseAttachInterceptor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/hyper/DatabaseMetadataIntegrationTest.java
  jdbc-core/src/test/resources/hyper_with_database.yaml
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperDatabaseSetup.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerConfig.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerManager.java
Due: JDBC Core

test: retry ShadedJarIntegrationTest on test-env OAuth 400
  integration-test/src/test/java/com/salesforce/datacloud/jdbc/integration/ShadedJarIntegrationTest.java
Due: none

refactor: address PR feedback on type refactor
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/types/HyperTypes.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtils.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ColumnMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/DefaultParameterAccumulator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ParameterAccumulator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ParameterBinding.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/hyper/DatabaseMetadataIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeArrowRoundtripTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ParameterAccumulatorTest.java
Due: JDBC Core

Path conditions:
  JDBC Core: any of: jdbc-core/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Main: any of: jdbc/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC HTTP: any of: jdbc-http/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Utilities: any of: jdbc-util/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  Spark Datasource: any of: spark-datasource/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
