Repository forcedotcom/datacloud-jdbc: changes, and which Codecov flags are due for each by the changed paths.
All: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities, Spark Datasource

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 2%
        base: auto
        if_ci_failed: error

comment:
  layout: "header,diff,flags,components,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

# Use the browser extension to see coverage in-line on PR reviews https://docs.codecov.com/docs/the-codecov-browser-extension
# Leaving this checked in for visibility about the extension since the github_checks.annotations is deprecated 
# github_checks:
#   annotations: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: 90%
        threshold: 2%
  individual_components:
    - component_id: jdbc_core
      name: "JDBC Core"
      paths:
        - "jdbc-core/**"
    - component_id: jdbc_main
      name: "JDBC Main"
      paths:
        - "jdbc/**"
    - component_id: jdbc_http
      name: "JDBC HTTP"
      paths:
        - "jdbc-http/**"
    - component_id: jdbc_util
      name: "JDBC Utilities"
      paths:
        - "jdbc-util/**"
    - component_id: spark_datasource
      name: "Spark Datasource"
      paths:
        - "spark-datasource/**"

ignore:
  - "**/*Test.java"
  - "**/*Tests.java"
  - "**/test/**"
  - "**/tests/**"
  - "buildSrc/**"
  - "verification/**"
  - "**/*.proto"
  - "**/build.gradle.kts"
  - "**/settings.gradle.kts"



flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: patch
        target: 90%

refactor: round 2 of PR feedback — fix CHAR/VARCHAR roundtrip, docs
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/types/HyperTypes.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeToArrow.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeArrowRoundtripTest.java
Due: JDBC Core

docs: reframe TIME_TZ round-trip test comment as intended behavior
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeArrowRoundtripTest.java
Due: none

refactor: unify ResultSet implementations on Arrow-backed path
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SQLExceptionQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataArrowBuilder.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStream.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStreamTest.java
Due: JDBC Core

refactor: address PR review — share vector builder and use in-memory ArrowStreamReader
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataArrowBuilder.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStream.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowToHyperTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeToArrow.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/VectorPopulator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamCloseTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStreamTest.java
Due: JDBC Core

test: retry ShadedJarIntegrationTest on transient OAuth 400 (#173)
  integration-test/src/test/java/com/salesforce/datacloud/jdbc/integration/ShadedJarIntegrationTest.java
Due: none

feat: add support for using CDP Auth Token directly
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessor.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/PropertiesUtils.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/PropertyValidator.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriver.java
Due: JDBC Main, JDBC HTTP, JDBC Utilities

chore: sync hyper_service.proto and error_details.proto with upstream
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/HyperGrpcClientRetryTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/InterceptedHyperTestBase.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamCloseTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandleTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIteratorTest.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperDatabaseSetup.java
  jdbc-proto/src/main/proto/error_details.proto
  jdbc-proto/src/main/proto/hyper_service.proto
Due: JDBC Core

fix: fix stashing issue and compile issues
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessor.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/PropertiesUtils.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/PropertyValidator.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriver.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/interceptor/TokenProcessorSupplier.java
Due: JDBC Main, JDBC HTTP, JDBC Utilities

fix: Remove files added back accidentally
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/PropertiesUtils.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/PropertyValidator.java
Due: JDBC Utilities

fix: fix format violations
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessor.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
Due: JDBC Main, JDBC HTTP

fix(ci): harden trigger-maven-release against script-injection
  .github/workflows/release-please.yml
Due: none

fix(ci): explicitly trigger Maven release workflow from release-please
  .github/workflows/release-please.yml
Due: none

chore: sync hyper_service.proto and error_details.proto with upstream (#176)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/HyperGrpcClientRetryTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/InterceptedHyperTestBase.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamCloseTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandleTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIteratorTest.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperDatabaseSetup.java
  jdbc-proto/src/main/proto/error_details.proto
  jdbc-proto/src/main/proto/hyper_service.proto
Due: JDBC Core

fix: propagate caller ThreadLocals to follow-up gRPC calls in async iterators
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncChunkRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncExecuteQueryIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncResultRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncStreamObserverIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/Step.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/SyncIteratorThreadLocalPropagationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperDatabaseSetup.java
Due: JDBC Core

refactor: simplify Step.NeedDispatch propagation; harden dispatch path
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncExecuteQueryIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncResultRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/Step.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
Due: JDBC Core

feat: expose DataCloudStatement.getQueryStatus() with execution stats
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryAccessHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/QueryStatusTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandleTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIteratorTest.java
Due: JDBC Core

refactor: split protocol RawQueryHandle from core QueryHandle; drop observeQueryStatus
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryAccessHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/RawQueryHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandleTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIteratorTest.java
Due: JDBC Core

refactor: harden dispatch-throws path; drop redundant generic args at NeedDispatch propagation
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncExecuteQueryIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncResultRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
Due: JDBC Core

fix: cache dispatch-thunk failures in SyncIteratorAdapter as terminal
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
Due: JDBC Core

fix: propagate caller ThreadLocals to follow-up gRPC calls in async iterators (#181)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncChunkRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncExecuteQueryIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncResultRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncStreamObserverIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/Step.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/SyncIteratorThreadLocalPropagationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperDatabaseSetup.java
Due: JDBC Core

fix: async interrupt race condition in SyncIteratorAdapter (#170)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
Due: JDBC Core

fix: propagate caller ThreadLocals to follow-up gRPC calls in async iterators (#181)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncChunkRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncExecuteQueryIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncResultRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncStreamObserverIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/Step.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/SyncIteratorThreadLocalPropagationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
Due: JDBC Core

chore: bump version to 0.42.3 and update CHANGELOG for hotfix
  CHANGELOG.md
  gradle.properties
Due: none

feat: expose DataCloudStatement.getQueryStatus() with execution stats (#178)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/RawQueryHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudStatementFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/QueryStatusTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIteratorTest.java
Due: JDBC Core

refactor: address PR feedback on type refactor
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/types/HyperTypes.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtils.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ColumnMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/DefaultParameterAccumulator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ParameterAccumulator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ParameterBinding.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/hyper/DatabaseMetadataIntegrationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeArrowRoundtripTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ParameterAccumulatorTest.java
Due: JDBC Core

fix: skip zero-row batches in ArrowStreamReaderCursor
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
Due: JDBC Core

chore: skip zero-row batches in ArrowStreamReaderCursor (#185)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
Due: JDBC Core

fix: provide default getObject(Class) fallback in QueryJDBCAccessor
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
Due: JDBC Core

fix: source wasNull from validity buffer in VarChar/Binary accessors
  jdbc-core/build.gradle.kts
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BinaryVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/VarCharVectorAccessor.java
Due: JDBC Core

docs: clarify why Decimal/List accessors infer null from getObject return
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseListVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DecimalVectorAccessor.java
Due: JDBC Core

fix: support getObject(Class) with identity class type in QueryJDBCAccessor (#186)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
Due: JDBC Core

test: pin jdbc type-name fallback path
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowToHyperTypeMapperTest.java
Due: none

fix: close allocator on StreamingResultSet.of failure in query path
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
Due: JDBC Core

fix: range-check narrowing integer setters in VectorPopulator
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/VectorPopulator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/IntegerVectorSetterRangeCheckTest.java
Due: JDBC Core
