Repository forcedotcom/datacloud-jdbc: changes, and which Codecov flags are due for each by the changed paths.
All: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities, Spark Datasource

chore: bump 8 low-risk runtime + test deps
  gradle/libs.versions.toml
Due: none

chore: bump gRPC 1.80.0 -> 1.81.0 and protobuf 4.34.1 -> 4.35.0
  gradle/libs.versions.toml
Due: none

chore: bump log4j-core 2.25.4 -> 2.26.0
  gradle/libs.versions.toml
Due: none

chore: bump protobuf-gradle-plugin 0.9.6 -> 0.10.0
  gradle/libs.versions.toml
Due: none

chore: Update comments
  gradle/libs.versions.toml
Due: none

chore: 3PP update hygiene pass (#189)
  gradle/libs.versions.toml
Due: none

fix: source wasNull from validity buffer in VarChar/Binary accessors
  jdbc-core/build.gradle.kts
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BinaryVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/VarCharVectorAccessor.java
Due: JDBC Core

docs: clarify why Decimal/List accessors infer null from getObject return
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseListVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DecimalVectorAccessor.java
Due: JDBC Core

fix: source wasNull from validity buffer across all accessors
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseListVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BooleanVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DataCloudArray.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DecimalVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DoubleVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/FloatVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampTZVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeVectorAccessor.java
Due: JDBC Core

refactor: drop IntPredicate nullChecker abstraction
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BinaryVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampTZVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/VarCharVectorAccessor.java
Due: JDBC Core

docs: note that flag=true is implied by flag=false coverage
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
Due: none

test: run flag-off across every Test task; align VarChar comment
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
  jdbc-core/build.gradle.kts
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/VarCharVectorAccessor.java
Due: JDBC Core

fix: don't return garbage values instead of null under arrow.enable_null_check_for_get=false (#187)
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseListVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BinaryVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BooleanVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DataCloudArray.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DateVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DecimalVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DoubleVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/FloatVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampTZVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeStampVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/TimeVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/VarCharVectorAccessor.java
Due: JDBC Core

fix(ci): explicitly trigger Maven release workflow from release-please
  .github/workflows/release-please.yml
Due: none

fix(ci): harden trigger-maven-release against script-injection
  .github/workflows/release-please.yml
Due: none

fix(ci): bump codecov-action v5 -> v6 for keybase GPG migration
  .github/workflows/reusable-build-publish.yml
Due: none

fix(ci): bump codecov-action v5 -> v6 for keybase GPG migration (#192)
  .github/workflows/reusable-build-publish.yml
Due: none

ci: unpin JReleaser and migrate signing config to signing.pgp.*
  .github/workflows/reusable-build-publish.yml
  jreleaser.yml
Due: none

ci: unpin JReleaser and migrate signing config to signing.pgp.* (#191)
  .github/workflows/reusable-build-publish.yml
  jreleaser.yml
Due: none

chore(codeowners): set valid GUSINFO for OSPO compliance
  CODEOWNERS
Due: none

chore(codeowners): set valid GUSINFO for OSPO compliance (#194)
  CODEOWNERS
Due: none

feat(auth): support OAuth 2.0 client credentials flow
  README.md
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProvider.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthProperties.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthPropertiesTest.java
Due: JDBC HTTP

feat: support named prepared statements
  README.md
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudNamedPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementBase.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtils.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/VectorPopulator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudNamedPreparedStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtilsTest.java
Due: JDBC Core

feat(auth): support OAuth 2.0 client credentials flow (#195)
  README.md
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProvider.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthProperties.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthPropertiesTest.java
Due: JDBC HTTP

chore: update working 3PP versions
  gradle/libs.versions.toml
Due: none

chore: remove inactive 3PP version bumps
  gradle/libs.versions.toml
Due: none

chore: upgrade gRPC and Netty
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
  buildSrc/src/main/kotlin/version-updates.gradle.kts
  gradle/libs.versions.toml
Due: none

chore: align transitive Netty modules
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
Due: none

chore: update Java 8-compatible 3PP versions (#196)
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
  buildSrc/src/main/kotlin/version-updates.gradle.kts
  gradle/libs.versions.toml
Due: none

chore: upgrade Gradle and build tooling
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/hyper-conventions.gradle.kts
  buildSrc/src/main/kotlin/java-conventions.gradle.kts
  buildSrc/src/main/kotlin/publishing-conventions.gradle.kts
  buildSrc/src/main/kotlin/shading.gradle.kts
  buildSrc/src/main/kotlin/version-conventions.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  jdbc-core/build.gradle.kts
  jdbc-grpc/build.gradle.kts
  jdbc-http/build.gradle.kts
  jdbc-proto/build.gradle.kts
  jdbc-util/build.gradle.kts
  jdbc/build.gradle.kts
  lombok.config
  spark-datasource-core/build.gradle.kts
  spark-datasource/build.gradle.kts
Due: none

ci: fail fast when GPG signing credentials are broken
  .github/workflows/reusable-build-publish.yml
Due: none

fix(jdbc-core): decode oid columns as unsigned 32-bit integers
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/NumericGetter.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowToHyperTypeMapper.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/OidUnsignedReproTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeArrowRoundtripTest.java
Due: JDBC Core

fix: normalize negative-scale BigDecimal parameters before Arrow encoding
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtils.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtilsTest.java
Due: JDBC Core

fix(jdbc-core): encode oid outbound as unsigned 32-bit Arrow int
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeToArrow.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeArrowRoundtripTest.java
Due: JDBC Core

test: cover normalizeDecimalScale null/non-decimal/non-negative-scale branches
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtilsTest.java
Due: none

fix(jdbc-core): remove stale oid mismatch expectation in metadata test
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/hyper/DatabaseMetadataIntegrationTest.java
Due: none

test(jdbc-reference): add oid boundary value reference entries
  jdbc-reference/src/main/resources/protocolvalues.json
  jdbc-reference/src/main/resources/reference.json
Due: none

test: address PR review comments on negative-scale decimal fix
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtils.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtilsTest.java
Due: JDBC Core

test(jdbc-core): cover unsigned non-oid bit-width rejection branch
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeArrowRoundtripTest.java
Due: none

test(integration): run auth flow matrix instead of single password flow
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-publish.yml
  .github/workflows/snapshot.yml
  integration-test/build.gradle.kts
  integration-test/src/test/java/com/salesforce/datacloud/jdbc/integration/ShadedJarIntegrationTest.java
Due: none

Path conditions:
  JDBC Core: any of: jdbc-core/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Main: any of: jdbc/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC HTTP: any of: jdbc-http/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Utilities: any of: jdbc-util/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  Spark Datasource: any of: spark-datasource/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
