Repository forcedotcom/datacloud-jdbc: changes, and which Codecov flags are due for each by the changed paths.
All: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities, Spark Datasource

ci: be more specific with hyper caching in ci
  .github/workflows/reusable-build-publish.yml
Due: none

build: run tests in parallel
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
Due: none

feat: give more detail for failed tests in console
  buildSrc/src/main/kotlin/java-base-conventions.gradle.kts
Due: none

feat: adds DataCloudConnection::getSchemaForQueryId
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/HyperGrpcClientExecutor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingByteStringChannel.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingByteStringChannelMemoryTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingByteStringChannelTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
Due: JDBC Core

- Create DirectDataCloudConnectionProperties class with parsing/serialization - Move SSL/TLS constants from DirectDataCloudConnection utility
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DirectDataCloudConnectionProperties.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/DirectDataCloudConnection.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/TestDirectConnectionProperties.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/hyper/HyperTestBase.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerProcess.java
Due: JDBC Core

Fix test case
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriverTest.java
  spark-datasource/src/main/scala/com/salesforce/datacloud/spark/HyperResultBatch.scala
  spark-datasource/src/main/scala/com/salesforce/datacloud/spark/HyperResultSource.scala
  spark-datasource/src/main/scala/com/salesforce/datacloud/spark/HyperResultSourceOptions.scala
  spark-datasource/src/main/scala/com/salesforce/datacloud/spark/HyperResultTable.scala
  spark-datasource/src/test/scala/HyperResultSourceTest.scala
Due: Spark Datasource

feat: Add option specify attached databases in the DataCloudConnection
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ConnectionProperties.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/HyperGrpcClientExecutor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/HyperGrpcClientTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/PropertiesTest.java
Due: JDBC Core

minor: dummy change to trigger the cla bot
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ConnectionProperties.java
Due: JDBC Core

fix: Restrict Avatica to version before 1.27.0 to make the driver buildable again
  gradle/libs.versions.toml
Due: none

fix: Switch build back to Gradle 8
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Due: none

fix: resolve DataCloudArray data loss after ResultSet exhaustion
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DataCloudArray.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/impl/DataCloudArrayTest.java
Due: JDBC Core

Restructuring code of StreamingByteStringChannel
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannel.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ProtocolMappers.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingByteStringChannel.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannelMemoryTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannelTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ProtocolMappersTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
Due: JDBC Core

getSchemaForQueryId directly returning ResultSetMetaData
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
  spark-datasource-core/src/main/scala/com/salesforce/datacloud/spark/HyperResultSource.scala
Due: JDBC Core

Addressing comments revision 2
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannel.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ProtocolMappers.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/exception/QueryExceptionHandler.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/DirectDataCloudConnection.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ProtocolMappersTest.java
Due: JDBC Core

feat: Using getSchemaForQueryId while infering schema
  spark-datasource-core/src/main/scala/com/salesforce/datacloud/spark/HyperResultSource.scala
  spark-datasource-core/src/test/scala/HyperResultSourceTest.scala
Due: none

Addressing comments revision 1
  spark-datasource-core/src/test/scala/HyperResultSourceTest.scala
Due: none

Adding more UnitTests
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/util/DirectDataCloudConnectionTest.java
Due: none

Revert "Resolving Accessor build issue"
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessorTest.java
Due: JDBC Core

Bringing back guava code
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ProtocolMappers.java
Due: JDBC Core

Resolving Accessor build issue
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/accessor/QueryJDBCAccessorTest.java
Due: JDBC Core

Addressing comments revision 3
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannel.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ProtocolMappers.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/exception/QueryExceptionHandler.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/DirectDataCloudConnection.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/util/DirectDataCloudConnectionTest.java
Due: JDBC Core

Addressing comments revision 4
  DEVELOPMENT.md
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ProtocolMappers.java
Due: JDBC Core

Addressing comments revision 5
  DEVELOPMENT.md
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ByteStringReadableByteChannel.java
Due: JDBC Core

Addressing comments revision 6
  DEVELOPMENT.md
Due: none

Address review comments
  DEVELOPMENT.md
  README.md
  buildSrc/src/main/kotlin/version-updates.gradle.kts
  gradle/libs.versions.toml
Due: none

chore: Automate 3PP version updates
  DEVELOPMENT.md
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/version-updates.gradle.kts
  gradle/libs.versions.toml
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/tracing/EncodingUtils.java
Due: JDBC Utilities

fix: update version to 0.35.0 and fix shading configuration
  .github/workflows/reusable-build-publish.yml
  gradle.properties
Due: none

fix: pin JReleaser to version 1.19.0 to resolve GPG signing issues
  .github/workflows/reusable-build-publish.yml
Due: none

Remove unused & untested code
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthProperties.java
Due: JDBC HTTP

chore: Mark slow tests as skipped
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/QueryTimeoutTest.java
Due: none

fix: resolve gRPC NameResolver service file merging in shaded JAR
  buildSrc/src/main/kotlin/shading.gradle.kts
Due: none

feat: Add integration test as mandatory gate before publishing
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-publish.yml
  .github/workflows/snapshot.yml
  integration-test/build.gradle.kts
  integration-test/src/main/java/com/salesforce/datacloud/jdbc/integration/ShadedJarIntegrationTest.java
  settings.gradle.kts
Due: none

Address review comments & fix build
  DEVELOPMENT.md
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/HyperJDBCDriver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/GrpcChannelProperties.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/JdbcURL.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/HyperJDBCDriverTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/AsyncStreamingResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/partial/RowBasedTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/interceptor/WorkloadHeaderTest.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProvider.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthProperties.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/PropertyParsingUtils.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriverTest.java
  spark-datasource-core/src/main/scala/com/salesforce/datacloud/spark/HyperResultSource.scala
  spark-datasource-core/src/test/scala/HyperResultSourceTest.scala
Due: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities

fix: Gracefully handle large incoming headers
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/GrpcChannelProperties.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
Due: JDBC Core

fix test execution
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
Due: none

Path conditions:
  JDBC Core: any of: jdbc-core/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Main: any of: jdbc/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC HTTP: any of: jdbc-http/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Utilities: any of: jdbc-util/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  Spark Datasource: any of: spark-datasource/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
