Repository forcedotcom/datacloud-jdbc: changes, and which Codecov flags are due for each by the changed paths.
All: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities, Spark Datasource

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 2%
        base: auto
        if_ci_failed: error

comment:
  layout: "header,diff,flags,components,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

# Use the browser extension to see coverage in-line on PR reviews https://docs.codecov.com/docs/the-codecov-browser-extension
# Leaving this checked in for visibility about the extension since the github_checks.annotations is deprecated 
# github_checks:
#   annotations: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: 90%
        threshold: 2%
  individual_components:
    - component_id: jdbc_core
      name: "JDBC Core"
      paths:
        - "jdbc-core/**"
    - component_id: jdbc_main
      name: "JDBC Main"
      paths:
        - "jdbc/**"
    - component_id: jdbc_http
      name: "JDBC HTTP"
      paths:
        - "jdbc-http/**"
    - component_id: jdbc_util
      name: "JDBC Utilities"
      paths:
        - "jdbc-util/**"
    - component_id: spark_datasource
      name: "Spark Datasource"
      paths:
        - "spark-datasource/**"

ignore:
  - "**/*Test.java"
  - "**/*Tests.java"
  - "**/test/**"
  - "**/tests/**"
  - "buildSrc/**"
  - "verification/**"
  - "**/*.proto"
  - "**/build.gradle.kts"
  - "**/settings.gradle.kts"



flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: patch
        target: 90%

refactor: unify ResultSet implementations on Arrow-backed path
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SQLExceptionQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataArrowBuilder.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStream.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStreamTest.java
Due: JDBC Core

refactor: address PR review — share vector builder and use in-memory ArrowStreamReader
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataArrowBuilder.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStream.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowToHyperTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeToArrow.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/VectorPopulator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamCloseTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStreamTest.java
Due: JDBC Core

refactor: namespace jdbc type-name field-metadata key
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeToArrow.java
Due: JDBC Core

fix: validate row arity in MetadataResultSets.of
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSetsTest.java
Due: JDBC Core

test: pin getObject(int, Map) null/empty fast path
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
Due: none

refactor: drop StreamingResultSet getObject(Class) bandaid
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
Due: JDBC Core

refactor: drop empty-batch workaround in MetadataResultSets
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
Due: JDBC Core

test: merge DataCloudMetadataResultSetTest into MetadataResultSetsTest
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSetsTest.java
Due: none

refactor: rename StreamingResultSet to DataCloudResultSet, drop marker interface
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStream.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/AsyncDataCloudResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudResultSetMethodTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamCloseTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSetsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/RowBasedPaginationTest.java
Due: JDBC Core

refactor: trim docstrings and prune redundant ResultSet-shape tests
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSetsTest.java
Due: JDBC Core

refactor: collapse StreamingResultSet.of factories into one
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamCloseTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamingResultSetMethodTest.java
Due: JDBC Core

feat: add PKCE utilities (code generator, loopback callback, browser launcher)
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/BrowserLauncher.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/LoopbackCallbackServer.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/PkceCodes.java
Due: JDBC HTTP

feat: wire AUTH_CODE_PKCE flow through DataCloudTokenProvider
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProvider.java
Due: JDBC HTTP

feat: wire AUTH_CODE_PKCE mode into SalesforceAuthProperties
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthProperties.java
Due: JDBC HTTP

docs: document AUTH_CODE_PKCE flow in README
  README.md
Due: none

style: apply spotless formatting
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProvider.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/LoopbackCallbackServer.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthProperties.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
Due: JDBC HTTP

test: add end-to-end tests for AUTH_CODE_PKCE token exchange
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
Due: none

test: add unit tests for PKCE codes, loopback server, auth-code mode parsing
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/LoopbackCallbackServerTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/PkceCodesTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/SalesforceAuthPropertiesTest.java
Due: none

docs: document ECA setup for AUTH_CODE_PKCE flow
  README.md
Due: none

fix: declare TYPE_INFO boolean columns as BOOL and tighten VarCharVectorSetter
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/MetadataSchemas.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/VectorPopulator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/Constants.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataSchemasTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/VarCharVectorSetterStrictTypeTest.java
Due: JDBC Core

fix: chain reader and allocator close exceptions via addSuppressed
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
Due: JDBC Core

fix: hoist queryId before allocator construction in DataCloudStatement
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
Due: JDBC Core

fix: close allocator on ArrowStreamReader constructor failure and unify cap
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStream.java
Due: JDBC Core

fix: implement INTEGER → boolean coercion in BaseIntVectorAccessor
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
Due: JDBC Core

fix: make DataCloudResultSet.close idempotent across cursor.close failures
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudResultSetMethodTest.java
Due: JDBC Core

fix: range-check unscaled value in DecimalVectorSetter
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/VectorPopulator.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/IntegerVectorSetterRangeCheckTest.java
Due: JDBC Core

test: pin reader-before-allocator close order in cursor test
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
Due: none

refactor: drop the typeName override channel
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/MetadataSchemas.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowToHyperTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ColumnMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeToArrow.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/Constants.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ColumnNameResolverTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataSchemasTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowToHyperTypeMapperTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtilsTest.java
Due: JDBC Core

fix: tighten BaseIntVectorAccessor.getBoolean to spec-strict 0/1 only
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessor.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
Due: JDBC Core

refactor: unify ResultSet implementations on Arrow-backed path (#175)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/MetadataSchemas.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SQLExceptionQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/accessor/impl/BaseIntVectorAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSets.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStream.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowToHyperTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/ColumnMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/HyperTypeToArrow.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/data/VectorPopulator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/Constants.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ArrowStreamReaderCursorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/AsyncDataCloudResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ColumnNameResolverTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudResultSetMethodTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataSchemasTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/StreamCloseTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/DataCloudResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/MetadataResultSetsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/RowBasedPaginationTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultArrowStreamTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/ArrowUtilsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/IntegerVectorSetterRangeCheckTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/data/VarCharVectorSetterStrictTypeTest.java
Due: JDBC Core

feat: add support for using CDP Auth Token directly
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessor.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/PropertiesUtils.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/PropertyValidator.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriver.java
Due: JDBC Main, JDBC HTTP, JDBC Utilities

refactor: collapse duplicate createConnection helpers in DataCloudDatasource
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
Due: JDBC Main

fix: Remove files added back accidentally
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/PropertiesUtils.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/PropertyValidator.java
Due: JDBC Utilities

fix: fix stashing issue and compile issues
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessor.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/PropertiesUtils.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/PropertyValidator.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriver.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/interceptor/TokenProcessorSupplier.java
Due: JDBC Main, JDBC HTTP, JDBC Utilities

fix: fix format violations
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessor.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
Due: JDBC Main, JDBC HTTP

fix: validate tenantUrl, derive cache TTL from JWT exp, dedupe tests
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessor.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriverTest.java
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/interceptor/TokenProcessorSupplierTest.java
Due: JDBC HTTP

test: cover token-cache rebuild and supplier exception paths
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/interceptor/TokenProcessorSupplierTest.java
Due: none

test: cover TokenProcessorSupplier and direct CDP-token connect path
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriverTest.java
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/interceptor/TokenProcessorSupplierTest.java
Due: none

fix: address PR feedback — strict JWT exp, fail on expired, rename methods
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessor.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriverTest.java
Due: JDBC Main, JDBC HTTP

feat: add support for using CDP auth token directly (#177)
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessor.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DirectCdpTokenProcessorTest.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/interceptor/TokenProcessorSupplier.java
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/DataCloudJDBCDriverTest.java
  jdbc/src/test/java/com/salesforce/datacloud/jdbc/interceptor/TokenProcessorSupplierTest.java
Due: JDBC Main, JDBC HTTP
