Repository forcedotcom/datacloud-jdbc: changes, and which Codecov flags are due for each by the changed paths.
All: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities, Spark Datasource

codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 90%
        threshold: 2%
        base: auto
        if_ci_failed: error

comment:
  layout: "header,diff,flags,components,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

# Use the browser extension to see coverage in-line on PR reviews https://docs.codecov.com/docs/the-codecov-browser-extension
# Leaving this checked in for visibility about the extension since the github_checks.annotations is deprecated 
# github_checks:
#   annotations: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: 90%
        threshold: 2%
  individual_components:
    - component_id: jdbc_core
      name: "JDBC Core"
      paths:
        - "jdbc-core/**"
    - component_id: jdbc_main
      name: "JDBC Main"
      paths:
        - "jdbc/**"
    - component_id: jdbc_http
      name: "JDBC HTTP"
      paths:
        - "jdbc-http/**"
    - component_id: jdbc_util
      name: "JDBC Utilities"
      paths:
        - "jdbc-util/**"
    - component_id: spark_datasource
      name: "Spark Datasource"
      paths:
        - "spark-datasource/**"

ignore:
  - "**/*Test.java"
  - "**/*Tests.java"
  - "**/test/**"
  - "**/tests/**"
  - "buildSrc/**"
  - "verification/**"
  - "**/*.proto"
  - "**/build.gradle.kts"
  - "**/settings.gradle.kts"



flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: patch
        target: 90%

fix: support 1-index columns when fetching column based on index or name
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Utilities

add columnTypeName support
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/ColumnMetadata.java
Due: JDBC Utilities

removal avatica dependency from metdata conversion
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
Due: JDBC Core, JDBC Utilities

feat: implement automated release pipeline
  .github/workflows/release-automation.yml
  .github/workflows/release-notifications.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
Due: none

feat: implement automated release pipeline using Release Please
  .github/workflows/release-automation.yml
  .github/workflows/release-notifications.yml
  .github/workflows/release-please.yml
  .github/workflows/snapshot.yml
  .release-please-manifest.json
  CHANGELOG.md
  RELEASE_PLEASE_SETUP.md
  gradle.properties
  release-please-config.json
Due: none

chore: Extend test coverage of extreme scenarios
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
Due: JDBC Core

remove avatica from metadata conversion logic
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/ColumnMetadata.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/ColumnType.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SqlType.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ColumnAccessor.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ReadOnlyResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ResultSetWithPositionalGetters.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Core, JDBC Utilities

Optimize ResultSet column lookup with HashMap-based indexing
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/MetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataResultSetColumnLookupTest.java
Due: JDBC Core

Fixup
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
Due: JDBC Core

update columnType missing issues
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowToColumnTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
Due: JDBC Core

spotless
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ForwardOnlyResultSet.java
Due: JDBC Utilities

Optimize ResultSet column lookup with HashMap-based indexing
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ColumnNameResolver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/MetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/StreamingResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/ColumnNameResolverTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataResultSetColumnLookupTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataResultSetTest.java
Due: JDBC Core

Mixins to reduce JDBC boilerplate
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ForwardOnlyResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ReadOnlyResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ResultSetWithPositionalGetters.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Utilities

Implement ColumnAccessor abstraction
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ColumnAccessor.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Utilities

Introduce SqlType & ResultSetMetadata
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/ColumnMetadata.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SqlType.java
Due: JDBC Utilities

Add SimpleResultSet unit tests to cover SQLFeatureNotSupportedException
  jdbc-util/src/test/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSetTest.java
Due: none

refactor resultset and metadata out of jdbc-util into jdbc-core
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnType.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ForwardOnlyResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ReadOnlyResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ResultSetWithPositionalGetters.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowToColumnTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
Due: JDBC Core

finish refactoring and fix failing compilation
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

improve test coverage for simplemetadataresultset
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
Due: JDBC Core

update metadata tests
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
Due: JDBC Core

Improve authentication error logging and retry handling
  integration-test/src/test/java/com/salesforce/datacloud/jdbc/integration/ShadedJarIntegrationTest.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProvider.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/auth/errors/AuthorizationException.java
  jdbc-http/src/main/java/com/salesforce/datacloud/jdbc/http/FormCommand.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/DataCloudTokenProviderTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/auth/errors/AuthorizationExceptionTest.java
  jdbc-http/src/test/java/com/salesforce/datacloud/jdbc/http/FormCommandTest.java
Due: JDBC HTTP

feat: implement automated release pipeline using Release Please
  .github/workflows/release-automation.yml
  .github/workflows/release-notifications.yml
  .github/workflows/release-please.yml
  .github/workflows/snapshot.yml
  .release-please-manifest.json
  CHANGELOG.md
  CONTRIBUTING.md
  gradle.properties
  release-please-config.json
Due: none

fix(ci): remove explicit SNAPSHOT version from snapshot workflow
  .github/workflows/snapshot.yml
Due: none

fix(ci): synchronize Release Please state to resolve empty change set error
  CHANGELOG.md
  gradle.properties
Due: none

fix: Breaking - Remove data loss for slow readers
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/HyperGrpcClientExecutor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/HyperGrpcStubProvider.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProvider.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/partial/DataCloudQueryPolling.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/ChunkRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QuerySchemaAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/RowRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/QueryAccessGrpcClient.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamObserver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/ClosableCancellingStreamObserver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/StreamProgress.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionHeadersTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JDBCLimitsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/partial/DataCloudQueryPollingTests.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/CachedChannelsTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QuerySchemaAccessorTest.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerConfig.java
  jdbc-core/src/testFixtures/java/com/salesforce/datacloud/jdbc/hyper/HyperServerProcess.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/logging/ElapsedLogger.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/NonThrowingJdbcSupplier.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/Result.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/util/ThrowingSupplier.java
  jdbc-util/src/test/java/com/salesforce/datacloud/jdbc/logging/ElapsedLoggerTest.java
Due: JDBC Core, JDBC Utilities

chore: Clean up HyperGrpcClientExecutor
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ExecuteQueryParamBuilder.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/InterceptedHyperTestBase.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorFunctionalTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/QuerySchemaAccessorTest.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/logging/ElapsedLogger.java
Due: JDBC Core, JDBC Utilities

chore: release 0.42.0
  .release-please-manifest.json
  CHANGELOG.md
  gradle.properties
Due: none

fix(ci): use simple release-type with extra-files for Gradle project
  gradle.properties
  release-please-config.json
Due: none

fix: Extend test coverage
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/ClosableCancellingStreamObserver.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamIteratorTest.java
Due: JDBC Core
