Repository forcedotcom/datacloud-jdbc: changes, and which Codecov flags are due for each by the changed paths.
All: JDBC Core, JDBC Main, JDBC HTTP, JDBC Utilities, Spark Datasource

fix: Fix logging
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamObserver.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/logging/ElapsedLogger.java
Due: JDBC Core, JDBC Utilities

test: add columnaccessor edge test cases for different types
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
Due: none

refactor: remove column accessors which are unused by metadata flow
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

test: add unit tests for positional column metadata tests
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

test: add more accessor tests
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: none

chore: Update 3PP libraries
  gradle/libs.versions.toml
Due: none

chore: Add explicit transitive libraries
  buildSrc/src/main/kotlin/version-updates.gradle.kts
  gradle/libs.versions.toml
Due: none

feat: Provide a low level Async Interface
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/ChunkRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QuerySchemaAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/RowRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncChunkRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncResultRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncRowRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/util/AsyncIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/util/AsyncStreamObserver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/util/AsyncStreamObserverIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/util/SyncIteratorAdapter.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamObserver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/ClosableCancellingStreamObserver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/StreamProgress.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamIteratorTest.java
Due: JDBC Core

feat: Add low level async protocol layer for reactive/non-blocking use cases
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/AsyncQueryAccessHandle.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/ChunkRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/QuerySchemaAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/RowRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncChunkRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncExecuteQueryIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryInfoIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncResultRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncRowRangeIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncStreamObserver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncStreamObserverIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapter.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamObserver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/ClosableCancellingStreamObserver.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/StreamProgress.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/examples/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/grpc/util/BufferingStreamIteratorTest.java
Due: JDBC Core

chore: Fixup
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIterator.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/protocol/async/core/AsyncStreamObserver.java
Due: JDBC Core

feat: Support PreparedStatement.getMetaData()
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudStatement.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/ExecuteQueryParamBuilder.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementHyperTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudPreparedStatementTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/AsyncQueryResultIteratorTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/protocol/async/core/SyncIteratorAdapterTest.java
Due: JDBC Core

Revert "chore(main): release 0.42.0 (#146)"
  .release-please-manifest.json
  CHANGELOG.md
  gradle.properties
Due: none

fix: Remove comments from JDBC driver version
  gradle.properties
Due: none

fix: resolve release workflow validation error for tag expression
  .github/workflows/release.yml
Due: none

fix: allow refresh-token auth without userName
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
Due: JDBC Core, JDBC Main

fix: allow refresh-token auth without userName (#157)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudConnection.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadata.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudConnectionTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc/src/main/java/com/salesforce/datacloud/jdbc/DataCloudDatasource.java
Due: JDBC Core, JDBC Main

fix: restore interrupt status during gRPC channel shutdown
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProvider.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProviderTest.java
Due: JDBC Core

fix: properly handle thread interrupts during gRPC channel shutdown (#159)
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProvider.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/JdbcDriverStubProviderTest.java
Due: JDBC Core

feat: Mixins to reduce JDBC boilerplate
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ForwardOnlyResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ReadOnlyResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ResultSetWithPositionalGetters.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Utilities

feat: Introduce SqlType & ResultSetMetadata
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/ColumnMetadata.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SqlType.java
Due: JDBC Utilities

feat: Implement ColumnAccessor abstraction
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ColumnAccessor.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Utilities

fix: support 1-index columns when fetching column based on index or name
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Utilities

chore: add columnTypeName support
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/ColumnMetadata.java
Due: JDBC Utilities

feat: removal avatica dependency from metdata conversion
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
Due: JDBC Core, JDBC Utilities

feat: remove avatica from metadata conversion logic
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/QueryMetadataUtil.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/ColumnMetadata.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/ColumnType.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SimpleResultSetMetaData.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/metadata/SqlType.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ColumnAccessor.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ReadOnlyResultSet.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ResultSetWithPositionalGetters.java
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSet.java
Due: JDBC Core, JDBC Utilities

refactor: update columnType missing issues
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowToColumnTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
Due: JDBC Core

chore: spotless
  jdbc-util/src/main/java/com/salesforce/datacloud/jdbc/resultset/ForwardOnlyResultSet.java
Due: JDBC Utilities

test: Add SimpleResultSet unit tests to cover SQLFeatureNotSupportedException
  jdbc-util/src/test/java/com/salesforce/datacloud/jdbc/resultset/SimpleResultSetTest.java
Due: none

refactor: resultset and metadata out of jdbc-util into jdbc-core
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnMetadata.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/ColumnType.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ColumnAccessor.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ForwardOnlyResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ReadOnlyResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/ResultSetWithPositionalGetters.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowToColumnTypeMapper.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
Due: JDBC Core

refactor: finish refactoring and fix failing compilation
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/util/ArrowUtils.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/MetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: JDBC Core

test: improve test coverage for simplemetadataresultset
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
Due: JDBC Core

test: update metadata tests
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSet.java
  jdbc-core/src/main/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaData.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/DataCloudDatabaseMetadataTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/SimpleMetadataResultSetTest.java
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/metadata/SimpleResultSetMetaDataTest.java
Due: JDBC Core

test: add getDate test
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: none

test: update positionalgetter tests
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: none

refactor: spotless
  jdbc-core/src/test/java/com/salesforce/datacloud/jdbc/core/resultset/SimpleResultSetTest.java
Due: none

Path conditions:
  JDBC Core: any of: jdbc-core/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Main: any of: jdbc/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC HTTP: any of: jdbc-http/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  JDBC Utilities: any of: jdbc-util/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
  Spark Datasource: any of: spark-datasource/**, but not: **/*Test.java, **/*Tests.java, **/test/**, **/tests/**, buildSrc/**, verification/**, **/*.proto, **/build.gradle.kts, **/settings.gradle.kts
